<div style="width: 100%; height: 100%; display: flex; flex-wrap: wrap; background-color: whitesmoke;">
    
    <div class="plate-map flex-center" ng-controller="mapController" >
        <div class="plate-overflow-box" ng-style="overflowBoxStyle()" ng-click="drawShape()" ng-init="initMapCanvas()">
            <!--<div class="player-box" ng-style="playerStyle()"></div>-->
            <!--<div class="map-box" ng-style="plateStyle(square)" ng-repeat="square in map.grid" ></div>-->
            <canvas id="demoCanvas" width="280" height="280"></canvas>
        </div>
    </div>
    
    
    
    <div class="plate-grid" ng-controller="gridController" >
        <div class="plate-main" ng-style="mainPlateStyle()">
            <div class="plate-box" ng-style="plateStyle(box)" ng-repeat="box in grid" box-handle>
                <div class="plate-inn">
                    <div ng-style="plateBackground(box)"></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    
</div>